@font-face {
  font-family: "dosis";
  font-weight: 300;
  src: url(../../fonts/dosis-light.woff) format("woff");
  src: url(../../fonts/dosis-light.woff2) format("woff2");
}

@font-face {
  font-family: "dosis";
  font-weight: 400;
  src: url(../../fonts/dosis-regular.woff) format("woff");
  src: url(../../fonts/dosis-regular.woff2) format("woff2");
}
